@import "tailwindcss";

@theme {
  /* Paleta MUGA */
  --color-accent: #FF5353;
  --color-accentmd: #5E3131;
  --color-accentxs: #2D1F1F;
  --color-obscure: #191717;
  --color-mugagray: #302E2E;
  --color-graylight: #A0A0A0;
}

@layer base {
  body {
    background-color: var(--color-obscure);
    color: var(--color-graylight);
    font-family: system-ui, sans-serif;
  }
}

/* Añadir al inicio del archivo */
html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}
