---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="MUGA - Inicio"
  description="MUGA es una marca de productos de alta calidad para tu hogar"
>
  <h1 class="border border-white/10 border-dashed">MUGA</h1>
</Layout>
